<!DOCTYPE html>
<html>
  <%- include('includes/head.ejs'); %>
<body id="statistics">
  <center>
    <h1>Average Viewport Dimensions</h1>
    <% if (averageViewport) { %>
      <table>
        <tr>
          <td>
            <h4 class="label">Desktop</h4>
            <hr />
            <h3 class="data"><%= averageViewport.desktop.size %><sup>px</sup></h3>
            <hr />
            <h4 class="data-secondary">Unique visits: <%= averageViewport.desktop.count; %></h4>
          </td>
          <td>
            <h4 class="label">Mobile</h4>
            <hr />
            <h3 class="data"><%= averageViewport.mobile.size %><sup>px</sup></h3>
            <hr />
            <h4 class="data-secondary">Unique visits: <%= averageViewport.mobile.count; %></h4>
          </td>
        </tr>
      </table>
    <% } else { %>
      <p>No viewport data available yet.</p>
    <% } %>
    <a href="/">Your Viewport Dimensions</a>
    <h6 class="footnote">
      We do not collect any of your personal data—just your viewport dimensions and what kind of device you use.
    </h6>
  </center>
</body>
</html>
